@page
@model Supp.Web.Pages.Projects.DetailsModel
@{
}
<h2>
    <editable update-url="@Url.Page("Details", "Edit")"
              property-name="@nameof(Model.Project.Name)"
              :model-id="@Model.Project.Id"
              model-value="@Model.Project.Name">
    </editable>
</h2>

<h3>Uprawnienia</h3>
<project-permission-settings :project-id="@Model.Project.Id"
                             current-user="@User.Identity.Name"
                             :user-roles="@Json.Serialize(Model.UserRoles).ToString()"
                             :roles="@SerializationHelpers.GetProjectRoles()"
                             add-url="@Url.Page("Details", "AddRole")"
                             remove-url="@Url.Page("Details", "RemoveRole")">
</project-permission-settings>


<h3>
    Tagi
</h3>
<project-tags-editable :tags="@SerializationHelpers.TagsToJson( Model.Project.Tags)"
                       :project-id="@Model.Project.Id"
                       add-url="@Url.Page("Details", "TagAdd")"
                       remove-url="@Url.Page("Details", "TagRemove")">
</project-tags-editable>
