@page
@model Supp.Web.Pages.Projects.IndexModel

<h2>
    Twoje projekty
    @if (Model.Projects.Count > 0)
    {
        <a asp-page="./Create" class="button button-outline float-right">Dodaj nowy projekt</a>
    }
</h2>
@if (Model.Projects.Count == 0)
{
    <a asp-page="./Create" class="button button-outline float-right">Dodaj nowy projekt</a>
}
<div class="cards">

    @foreach (var project in Model.Projects)
    {
        <a class="card" asp-page="/Posts/Index" asp-route-projectId="@project.Id">
            @project.Name
        </a>

        <a class="card" asp-page="/Posts/Index" asp-route-projectId="@project.Id">
            @project.Name
        </a>

        <a class="card" asp-page="/Posts/Index" asp-route-projectId="@project.Id">
            @project.Name
        </a>
    }

</div>