@page
@model Supp.Web.Pages.Posts.CreateModel
@using Supp.Core.Posts

<form method="post">

    <div class="mb-3">
        <label class="form-label">Typ</label>
        <inline-selector input-name="@Html.NameFor(m=>m.Post.Type)"
                         :options="@Json.Serialize(SerializationHelpers.EnumToNamedDictionary(typeof(PostType))).ToString()">
        </inline-selector>
    </div>
    <div class="mb-3">
        <label class="form-label">Priorytet</label>
        <inline-selector input-name="@Html.NameFor(m=>m.Post.Priority)"
                         :options="@Json.Serialize(SerializationHelpers.EnumToNamedDictionary(typeof(PostPriority))).ToString()">
        </inline-selector>
    </div>
    <div class="mb-3">
        <label for="@Html.IdFor(m=>m.Post.Title)" class="form-label">Nagłówek</label>
        <input class="form-control" id="title" asp-for="Post.Title" />
    </div>
    <div class="mb-3">
        <label for="@Html.IdFor(m=>m.Post.Body)" class="form-label">Treść</label>
        <textarea class="form-control" asp-for="Post.Body" rows="5"></textarea>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Dodaj" />
    </div>
</form>
