@page
@using Supp.Core.Tags
@using Supp.Core.Authorization
@model Supp.Web.Pages.Posts.GetModel
@inject PermissionService permissionService

<div class="position-relative">
    <votes :can-vote="@Json.Serialize(permissionService.Authorize(Permission.PostCanVote, Model.Post))"
           vote-url="@Url.Page("Get", "Vote", new { postId = Model.Post.Id })"
           undo-url="@Url.Page("Get", "UndoVote", new { postId = Model.Post.Id })"
           :init-votes="@Model.Votes"
           :init-voted="@Json.Serialize(Model.UserVoted)">
    </votes>

    <div>
        @Html.PostTypeToIcon(Model.Post.Type)
        | <post-priority-editable model-value="@Model.Post.Priority"
                                  :can-edit="@Json.Serialize(permissionService.Authorize(Permission.PostCanModify, Model.Post))"
                                  :model-id="@Model.Post.Id"
                                  property-name="@nameof(Model.Post.Priority)"
                                  update-url="@Url.Page("Get", "Edit")">
        </post-priority-editable>
        | Status: @Html.DisplayFor(m=>m.Post.Status)
    </div>
    @*Tagi*@
    <div>
        <post-tag-editable :can-edit="@Json.Serialize(permissionService.Authorize(Permission.PostCanModify, Model.Post))"
                           update-url="@Url.Page("Get", "Edit")"
                           property-name="@nameof(Model.Post.Tags)"
                           :model-id="@Model.Post.Id"
                           :tags="@SerializationHelpers.TagsToJson(Model.Post.Tags.Select(t=>t.Tag))"
                           :all-tags="@SerializationHelpers.TagsToJson(Model.AllowedTags)">
        </post-tag-editable>
    </div>

    <h2>
        <editable :can-edit="@Json.Serialize(permissionService.Authorize(Permission.PostCanModify, Model.Post))"
                  update-url="@Url.Page("Get", "Edit")"
                  property-name="@nameof(Model.Post.Title)"
                  :model-id="@Model.Post.Id"
                  model-value="@Model.Post.Title">
        </editable>
    </h2>

<pre class="mt-2">
<editable :can-edit="@Json.Serialize(permissionService.Authorize(Permission.PostCanModify, Model.Post))"
          update-url="@Url.Page("Get", "Edit")"
          property-name="@nameof(Model.Post.Body)"
          :model-id="@Model.Post.Id"
          model-value="@Model.Post.Body"
          template="textarea">
    </editable>
</pre>

    <h4>Komentarze</h4>
    <comments :can-comment="@Json.Serialize(permissionService.Authorize(Permission.CommentCanAdd, Model.Post))"
              :can-pin="@Json.Serialize(permissionService.Authorize(Permission.CommentCanPin, Model.Post))"
              :post-id="@Model.Post.Id"
              add-url="@Url.Page("Get", "NewComment")"
              get-all-url="@Url.Page("Get", "AllComments", new { postId = Model.Post.Id })"
              pin-comment-url="@Url.Page("Get", "PinComment")"
              unpin-comment-url="@Url.Page("Get", "UnpinComment")">
    </comments>
</div>