@page
@model Supp.Web.Pages.Posts.GetModel
@{
}

<div>
    @Html.PostTypeToIcon(Model.Post.Type) | @Html.PostPriorityToIcon(Model.Post.Priority)
</div>
<h2>
    <editable update-url="@Url.Page("Get", "Edit")"
              property-name="@nameof(Model.Post.Title)"
              :model-id="@Model.Post.Id"
              model-value="@Model.Post.Title">
    </editable>



    @*<edit-button update-url="@Url.Page("Get", "Edit")"
                 property-name="@nameof(Model.Post.Title)"
                 model-id="@Model.Post.Id"
                 model-value="@Model.Post.Title"
                 display-control-id="title-display"
                 edit-control-id="title-edit"></edit-button>
    <span id="title-display">@Model.Post.Title</span>
    <input type="text" value="@Model.Post.Title" id="title-edit" class="edit-control" />*@
</h2>
<p>
    @*<edit-button></edit-button>*@
    @Model.Post.Body
</p>

<h4>Komentarze</h4>

<form asp-page-handler="Comment" method="post">
    <input type="hidden" name="postId" value="@Model.Post.Id" />
    <textarea name="Body"></textarea>
    <button type="submit">Dodaj</button>
</form>
@if (Model.Post.Comments.Count == 0)
{
    <div class="no-data">Brak komentarzy</div>
}
@foreach (var comment in Model.Post.Comments.OrderByDescending(c => c.CreateTime))
{
    <div>
        <div class="fade">@comment.CreateTime</div>
        @comment.Body
    </div>
}