@page
@model Supp.Web.Pages.Posts.ListModel
@using Supp.Core.Resources
@using Supp.Core.Posts
@using Supp.Core.Search
@using Supp.Web.Security
@inject AppAuthorizationService authorizationService

<div class="row">
    <div class="col-3 search-menu bg-dark text-white">
        <search search-url="@Url.Page("Index", "search")"
                :project-id="@Model.ProjectId"
                inline-template>
            <div class="d-grid gap-2">
                <h4>Szukaj</h4>
                <input type="text" class="form-control" placeholder="tytuł, treść"
                       v-model="text"
                       v-on:keyup.enter="search" />
                <h5>
                    Typ
                </h5>
                @foreach (PostType type in Enum.GetValues(typeof(PostType)))
                {
                    <div>
                        <input class="form-check-input" type="checkbox" :value="@((int)type)" id="type-@type" checked
                               v-model="types">
                        <label class="form-check-label" for="type-@type">
                            @Html.PostTypeToIcon(type)
                            @Labels.ResourceManager.GetString(type.ToString())
                        </label>
                    </div>
                }
                <h5>Status</h5>
                @foreach (var status in SearchData.PostStatusForSearch)
                {
                    <div>
                        <input class="form-check-input" type="checkbox" :value="@((int)status)" id="type-@status" checked
                               v-model="statuses">
                        <label class="form-check-label" for="type-@status">
                            @Labels.ResourceManager.GetString(status.ToString())
                        </label>
                    </div>
                }
                <h5>Priorytet</h5>
                @foreach (PostPriority priority in Enum.GetValues(typeof(PostPriority)))
                {
                    <div>
                        <input class="form-check-input" type="checkbox" :value="@((int)priority)" id="type-@priority" checked
                               v-model="priorities">
                        <label class="form-check-label" for="type-@priority">
                            @Html.PostPriorityToIcon(priority)
                            @Labels.ResourceManager.GetString(priority.ToString())
                        </label>
                    </div>
                }
                <button class="btn btn-primary mt-1" type="button" v-on:click="search">Zatwierdź</button>
            </div>
        </search>
    </div>
    <div class="col">
        <a asp-page="./Create" asp-route-projectId="@Model.ProjectId" class="btn btn-outline-primary">Dodaj nowy</a>
        @if ((await authorizationService.AuthorizePermissionAsync(Supp.Core.Authorization.Permission.ProjectCanModify, Model.Project)).Succeeded)
        {
            <a asp-page="../Projects/Details" asp-route-projectId="@Model.ProjectId" class="btn btn-outline-secondary">Ustawienia projektu</a>
        }
        <post-list inline-template>
            <table class="table details-table">
                <thead>
                    <tr>
                        <th class="no-stretch">Typ</th>
                        <th class="no-stretch">Priorytet</th>
                        <th class="no-stretch">Status</th>
                        <th class="no-stretch">Głosy</th>
                        <th>Opis</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="post in posts" :data-post-id="post.id">
                        <td>{{ post.type }}</td>
                        <td>{{ post.priority }}</td>
                        <td>{{ post.status }}</td>
                        <td>{{ post.votes }}</td>
                        <td>
                            <a :href="'@Url.Page("Get")?id=' + post.id">{{ post.title }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </post-list>
    </div>
</div>

