@page
@model Supp.Web.Pages.Posts.ListModel
@{
}
<a asp-page="./Create" asp-route-projectId="@Model.ProjectId" class="btn btn-outline-primary">Dodaj nowy</a>
<a asp-page="../Projects/Details" asp-route-projectId="@Model.ProjectId" class="btn btn-outline-secondary">Szczegóły projektu</a>
<table class="table details-table">
    <thead>
        <tr>
            <th class="no-stretch">Typ</th>
            <th class="no-stretch">Priorytet</th>
            <th class="no-stretch">Status</th>
            <th>Opis</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var post in Model.Posts)
        {
            <tr data-post-id="@post.Id">
                <td>@Html.PostTypeToIcon(post.Type)</td>
                <td>@Html.PostPriorityToIcon(post.Priority)</td>
                <td>@post.Status</td>
                <td>
                    <a asp-page="./Get" asp-route-id="@post.Id">@post.Title</a>
                </td>
            </tr>
        }
    </tbody>
</table>